img{
    height: 150px;
    width:150px;
    margin-left: 15px;
    border-radius: 100px;
}

#bg{
    background-color:crimson;
}

#star
{
height:70px;
width:70px;
}

#login_div
{
    background-color: beige;
   margin-left: 500px;
   padding-bottom: 10px;
   padding-top: 10px;
   border-radius: 75px;
}
#header
{
    color:white;
    letter-spacing: 10px;
    font-family:cursive;
    font-size: 45px;
}

#header2
{
    color:white;
    letter-spacing: 10px;
    font-family:cursive;
    font-size: 45px;
}

#perm
{
    background-color: beige;
   margin-left: 500px;
   padding-bottom: 25px;
   padding-top: 25px;
   padding-left: 55px;
   padding-right: 55px;
   border-radius: 50px;
   font-size: 15px;
}
#t
{
   margin-top: 300px;
   margin-right: 100px;
   margin-left: 50px;
   color: bisque;
   font-family: cursive;
}


#tools{
    position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);

}

#output_div{
    padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}

.user_tick{
    width: 20px;
    height: 20px;
}